html,body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5vmin;
    font-weight: 500;
    background:#000;
    color:white;
    
}
h2{
    font-weight:100;
    font-size: 2vmin;
    font-style: italic;
}
.container-2, .container-3, .container-4{
    margin:7% auto;
    width:90%;
    text-align: center;
}
.container-4 .flex-blackjack-row1{
    font-size: 4vmin;
    text-transform: uppercase;
    /* font-weight: bold; */
    letter-spacing: 0.5vmin;
    color: #fff;
}
 .flex-box-container-2, .flex-box-rps, .flex-box-container-2-button, .flex-box-rps-button,.flex-blackjack-buttons{
    display: flex;
    padding: 3vmin;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
.flex-box-container-2-button button,.flex-box-rps-button button, .flex-blackjack-buttons button{
    width: 30vmin;
    height: 8vmin;
    font-size: 2vmin;
    text-transform: uppercase;
    /* font-weight: bold; */
    letter-spacing: 0.5vmin;
    color: #fff;
    background-color: #000;
    z-index:9;
    border-radius: 4vmin;
    box-shadow: 1vmin .8vmin 2vmin rgba(243, 226, 226, 0.308);
    cursor: pointer;
    outline: none;
    border:none;
}
.flex-box-container-2{
    padding: 0px;
    justify-content:space-around;
    align-items: baseline;
}
.flex-box-container-2 img{
    height: 40vmin;
    width: 60vmin;
    box-shadow: 1vmin .8vmin 2vmin rgba(88, 117, 248, 0.438);
    margin: 4vmin;
}


.center{
    display: inherit;
}
.outer{
    position:relative;
    margin:0 3vmin;  
}
.button{
    height:9vmin;
    width: 31vmin;
    border-radius: 4vmin;
}

.circle{
    height:21vmin;
    width: 21vmin;
    border-radius: 50%;
}

.outer img,.outer button,.outer span{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.outer img{
    box-shadow: 1vmin .8vmin 2vmin rgba(243, 226, 226, 0.308);
    z-index: 9;
    cursor:pointer;
}

.container-3 img{
    height:20vmin;
    width:20vmin;
    border-radius:50%;
}
.outer span{
    height:100%;
    width:100%;
}
.button span{
    border-radius:4vmin;
}
.circle span{
    border-radius:50%;
}
.outer:hover span:nth-child(1){
    background:rgb(105, 229, 245);
    filter:blur(1vmin);
}
.outer:hover span:nth-child(2){
    background:rgb(105, 229, 245);
    filter:blur(1.5vmin);
}
.outer:hover span:nth-child(3){
    background:rgb(105, 229, 245);
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
.result-text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 21vmin;
    width:21vmin;
    font-size: 3vmin;
    line-height: 6vmin;
    letter-spacing: 1vmin;
    text-transform: uppercase;
    margin:0 5vmin;
    color: white;
}
.remove-div{
    animation: remove-div-animation 0.5s ease-out forwards;

}
@keyframes remove-div-animation{
    0%{
        opacity:1;
        transform: scale(1);
    }
    100%{
        opacity:0;
        transform:scale(0);
    }

}
.restore-div{
    animation: restore-div-animation 0.5s ease-in forwards;

}
@keyframes restore-div-animation{
    0%{
        opacity:0;
        transform: scale(0);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }

}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 6vmin;
    line-height: 10vmin;
    text-shadow: 0 0 6vmin #F40A35;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 6vmin;
    line-height: 10vmin;
    text-shadow: 0 0 6vmin #2356FF;
  }
  
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  .neon_min{
    font-size:4vmin;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 2vmin #FA1C16, 0 0 6vmin #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 1vmin #800E0B, 0 0 3vmin #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 2vmin #1041FF, 0 0 6vmin #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 1vmin #082180, 0 0 3vmin #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  